<div class="weatherWidget">
	{{#each partials.weather.locations}}
		<div class="location">
			<h3>{{name}}</h3>
			<a href="{{forcastUrl}}">
				<img src="{{iconUrl}}" alt="{{weather}}">
				{{weather}}, {{temp}}
			</a>
		</div>
	{{/each}}
	<small>来源：<a href="http://www.wunderground.com">Weather
Underground</a></small>
</div>